.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: repeat(4, 50px);
}

.skill {
	/* background-image: url('https://img.finalfantasyxiv.com/lds/d/7a622f61949998a4bca402f5be90c0417bb02ac1.png'); */
}

.missed {
	background: red;
}

.circle {
	transform: rotate(-90deg);
	stroke-dasharray: 251; /* (2PI * 40px) */
	stroke-dashoffset: 251;
	animation: offsettozero var(--duration) linear forwards;
  }
  
  @keyframes offsettozero {
	to {
	  stroke-dashoffset: 0;
	}
}