@keyframes time {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes mask {
	0% {
		background: #eee;
		transform: rotate(0deg);
	}

	50% {
		background: #eee;
		transform: rotate(-180deg);
	}

	50.01% {
		background: skyBlue;
		transform: rotate(0deg);
	}

	100% {
		background: skyBlue;
		transform: rotate(-180deg);
	}
}

.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: repeat(4, 50px);
}

.selected {
	background: green;
	background: 0.7s ease-out;
	transition: background .5s ease-out;
}

.missed {
	background: red;
}

.circle {
	transform: rotate(-90deg);
	stroke-dasharray: 251; /* (2PI * 40px) */
	stroke-dashoffset: 251;
	animation: offsettozero var(--duration) linear forwards;
  }
  
  @keyframes offsettozero {
	to {
	  stroke-dashoffset: 0;
	}
}